<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">

      <div class="nested-menu">
          <a class="list-group-item" (click)="addExpandClass('pages1')">
              <span>about</span
          </a>
          <li class="nested" [class.expand]="showMenu === 'pages1'">
              <ul class="submenu">
                <li>
                    <a href="javascript:void(0)"><span>공지사항</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>가입인사</span></a>
                </li>
              </ul>
          </li>
      </div>
      <div class="nested-menu">
          <a class="list-group-item" (click)="addExpandClass('pages2')">
              <span>배스입문</span>
          </a>
          <li class="nested" [class.expand]="showMenu === 'pages2'">
              <ul class="submenu">
                  <li>
                      <a href="javascript:void(0)"><span>초보질문방</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>배스낚시팁</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>배스채비</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>계절별공략</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>장비조합</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>장비스펙</span></a>
                  </li>
              </ul>
          </li>
      </div>
      <div class="nested-menu">
          <a class="list-group-item" (click)="addExpandClass('pages3')">
              <span>조행기</span>
          </a>
          <li class="nested" [class.expand]="showMenu === 'pages3'">
              <ul class="submenu">
                  <li>
                      <a href="javascript:void(0)"><span>보팅</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>워킹</span></a>
                  </li>
              </ul>
          </li>
      </div>
      <div class="nested-menu">
          <a class="list-group-item" (click)="addExpandClass('pages4')">
              <span>회원게시판</span>
          </a>
          <li class="nested" [class.expand]="showMenu === 'pages4'">
              <ul class="submenu">
                  <li>
                      <a href="javascript:void(0)"><span>자유게시판</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>포인트공유</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>회원캠동영상</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>배스동영상</span></a>
                  </li>
              </ul>
          </li>
      </div>
      <div class="nested-menu">
          <a class="list-group-item" (click)="addExpandClass('pages5')">
              <span>함께해요</span>
          </a>
          <li class="nested" [class.expand]="showMenu === 'pages5'">
              <ul class="submenu">
                  <li>
                      <a href="javascript:void(0)"><span>번출</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>동출</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                  </li>
              </ul>
          </li>
      </div>
      <div class="nested-menu">
          <a class="list-group-item" (click)="addExpandClass('pages6')">
              <span>밸리보트</span>
          </a>
          <li class="nested" [class.expand]="showMenu === 'pages6'">
              <ul class="submenu">
                  <li>
                      <a href="javascript:void(0)"><span>밸리 렌탈샾</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>밸리판매사이트</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>피싱온</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>볼켄밸리</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>엑스튜브</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>비바배스</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>랩터피싱</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>큐텐밸리</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>세템밸리</span></a>
                  </li>
              </ul>
          </li>
      </div>
      <div class="nested-menu">
          <a class="list-group-item" (click)="addExpandClass('pages7')">
              <span>보팅정보</span>
          </a>
          <li class="nested" [class.expand]="showMenu === 'pages7'">
              <ul class="submenu">
                  <li>
                      <a href="javascript:void(0)"><span>안전수칙</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>보팅Q&A</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>보트튜닝</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>동력금지필드</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>슬로프안내</span></a>
                  </li>
              </ul>
          </li>
      </div>
      <div class="nested-menu">
          <a class="list-group-item" (click)="addExpandClass('pages8')">
              <span>중고장터</span>
          </a>
          <li class="nested" [class.expand]="showMenu === 'pages8'">
              <ul class="submenu">
                  <li>
                      <a href="javascript:void(0)"><span>중고거래</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>무료나눔</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>사기신고</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>노쇼신고</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>거래후기</span></a>
                  </li>
              </ul>
          </li>
      </div>
    </ul>
</nav>
